<div style="position:fixed; color:white; margin-top:200px; padding-right:10px; right:0; z-index:99999999;">
			<ul>
				<li style="list-style-type:none; margin-bottom:10px;"><a href="https://m.me/Auto4rental" target="_blank"><img src="http://rentcartbilisi.com/social/messenger.png" alt="car rental Tbilisi airport, car rental Georgia, rent car tbilisi" style="margin-bottom:5px; width:38px; height:38px;" style="margin-bottom:5px;"/></a></li>
				<li style="list-style-type:none; margin-bottom:10px;"><a href="viber://chat?number=+995558515191" target="_blank"><img src="http://rentcartbilisi.com/social/viber.png" alt="car rental Tbilisi airport, car rental Georgia, rent car tbilisi" style="margin-bottom:5px; width:38px; height:38px;" style="margin-bottom:5px;"/></a></li>
				<li style="list-style-type:none; margin-bottom:10px;"><a href="https://api.whatsapp.com/send?phone=995558515191" target="_blank"><img src="http://rentcartbilisi.com/social/whatsapp.png" alt="car rental Tbilisi airport, car rental Georgia, rent car tbilisi" style="margin-bottom:5px; width:38px; height:38px;" style="margin-bottom:5px;"/></a></li>
			</ul>
		</div>